@CHARSET "UTF-8";

.hidden {
	visibility: hidden;
	display: none;
}

.item-functions {
	float: right;
}

.card.a-list {
	margin-right: 1.2rem;
	margin-top: 1.2rem;
}

.item {
	border: 1px solid white !important;
	background-color: white;
	border-radius: 16px !important;
	padding: 10px 15px  !important;
	margin-bottom: 12px;
	margin-top: 12px;
}

.card-header {
	border: none !important;
}


.add-btn {
	margin-top: 2rem;
}

.archived-pointer {
	border-radius: 16px !important;
	margin-bottom: 12px;
}

.card-content {
	background-color: #00d1b2 !important;
}

p.card-header-title {
	padding: 20px;
}

#welcome-mes {
	margin-bottom: 24px;
}
