 <div id="addlist-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
          <h2 class="modal-card-title"> Add New List </h2>
      </header>
      <section class="modal-card-body">
         <div class="field">
            <form class="new-list-form" role="form">
              <div class="control">
                <input id="newList" class="input" type='text' name='newlist_name'  placeholder="Add A New List" required> 
              </div>
              <div class="control">
                <button id="newList-btn" class="button is-primary" type='submit' name='change_list_name'>Submit</button>
              </div>
            </form>
        </div>
        <a id="close-addlist-btn" class="button">Cancel</a>
      </section>
    </div>
    <!-- <button id="close-addlist-btn" class="modal-close is-large" aria-label="close"></button> -->
</div>