<div id="addlist-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <form class="new-list-form" role="form">
      
         <div class="field">
            <label class="label is-medium">Add New List</label>
            <div class="control">
              <input id="newList" class="input is-medium" type='text' name='newlist_name'  placeholder="Add A New List" required> 
            </div>
          </div>

          <div class="field is-grouped">
              <div class="control">
                <button id="newList-btn" class="button is-primary" type='submit' name='change_list_name'>Submit</button>
              </div>
              <div class="control">
                <a id="close-addlist-btn" class="button is-light">Cancel</a>
              </div>
          </div>
        </form>
      
    </section>
  </div>
</div>