<!DOCTYPE html>
<html>
  <head>
    <title>Buckist</title>

    {% block stylesheet %}
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
 
  <header>
  <div id="header">
    <div class="container">
    
    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <div class="navbar-item">
          <a href="{{url_for('index')}}" class="title is-size-2-desktop is-size-2-touch">Buckist</a>
        </div>
        
        <button class="button navbar-burger burger" data-target="my-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>

      </div>

      <div id="my-menu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="{{ url_for('index') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
            {% if 'email' in session %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="{{ url_for('profile') }}">Dashboard</a>
                <a class="navbar-item" href="{{ url_for('sign_out') }}">Sign Out</a>
              </div>
            </div>
            {% else %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="{{ url_for('sign_up') }}">Sign Up</a>
                <a class="navbar-item" href="{{ url_for('sign_in') }}">Sign In</a>
              </div>
            </div>
            {% endif %}
          </div>
      </div>
    </nav>
  </div>
    </div>
  </header>
 
    <div>
      {% block banner %}
      {% endblock %}
    </div>



    <div id="">
    {% block main %}

      {% block content %}
      {% endblock %}

    {% endblock %}
    </div> 

    <div>
      {% block footer %}
      {% endblock %}
    </div>
    


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="/static/base.js"></script>

  {% block script %}
  {% endblock %}
  
</body>
</html>