<!DOCTYPE html>
<html>
  <head>
    <title>Buckist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
  </head>

  <body>
 
  <header class="section">
    <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="{{ url_for('index') }}" class="navbar-item title">Buckist</a>
        
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
            <a class="navbar-item"href="#">About</a>
            {% if 'email' in session %}
            <a class="navbar-item" href="{{ url_for('profile') }}">Profile</a>
            <a class="navbar-item" href="{{ url_for('sign_out') }}">Sign Out</a>
            {% else %}
            <a class="navbar-item" href="{{ url_for('sign_up') }}">Sign Up</a>
            <a class="navbar-item" href="{{ url_for('sign_in') }}">Sign In</a>
            {% endif %}
          </div>
      </div>
    </nav>
      
    </div>
  </header>
 
    <div class="container">
    {% block main %}

      {% block content %}
      {% endblock %}

    {% endblock %}
    </div> 
    


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="/static/profile.js"></script>
</body>
</html>