<div id="changestatus-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card box">
      
      <section class="modal-card-body">
        <form class="change-status-form" role="form">

          <div class="field">
            <label class="label is-medium">Have you completed this?</label>
            <div class="control">
              <label class="radio">
                <input type="radio" name="status" value="no" checked> No
              </label>
              <label class="radio">
                <input type="radio" name="status" value="yes"> Yes
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button id="change-status-btn" class="button is-primary" type='submit' name='change_status'>Submit</button>
            </div>
            <div class="control">
              <a class="button" id="close-cs-btn">Cancel</a>
            </div>
          </div>
        </form>
        
      </section>
    </div>
  </div>