<div id="editlist-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card box">
    <section class="modal-card-body">
      <form class="rename-form" role="form">

        <div class="field">
          <label class="label is-medium"> Rename Your List</label>
          <div class="control">
            <input id="inputListName" class="input" type='text' name='list_name' placeholder="eg: My List" required> 
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button id="rename-btn" class="button is-primary" type='submit' name='change_list_name'>Edit</button>
          </div>
          <div class="control">
            <a class="button is-light" id="close-editlist-btn">Cancel</a>
          </div>
        </div>

      </form>
      
    </section>
  </div>
</div>

