 <!--  <div class="box hidden" id="edititem-box">
    <form role="form" class="rename-item-form">
      Content: <input type='text' name='item_content' required> 
          <button class='button' id='rename-item-btn' type='submit' name='change_item_content'>Edit Item</button>
    </form>
  </div> -->

<div id="edititem-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card box">
      <header class="modal-card-head">
        <h2 class="modal-card-title"> Edit Item </h2>
      </header>
      <section class="modal-card-body">
        <div class="field is-grouped">
          <form class="rename-item-form" role="form">
            <div class="control">
              <input class="input" type='text' name='item_content'  placeholder="Add Item" required> 
            </div>
            <div class="control">
              <button id="rename-item-btn" class="button is-primary" type='submit' name=''>Submit</button>
            </div>
          </form>
        </div>
        <a class="button" id="close-edititem-btn">Cancel</a>
      </section>
    </div>
  </div>