<div id="edititem-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card box">
      <section class="modal-card-body">
        <form class="rename-item-form" role="form">

          <div class="field">
            <label class="label is-medium">Rename Your Item</label>
            <div class="control">
              <input class="input" type='text' name='item_content'  placeholder="eg: Learn Japanese" required> 
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button id="rename-item-btn" class="button is-primary" type='submit' name=''>Submit</button>
            </div>
            <div class="control">
              <a class="button is-light" id="close-edititem-btn">Cancel</a>
            </div>
          </div>

        </form>
      </section>
    </div>
  </div>