{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}


{% block banner %}
<div class="hero is-primary is-bold is-large">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 id="banner-title" class="title is-size-2-mobile is-size-1-desktop is-size-1-tablet">
        Welcome to Buckist
      </h1>
      <h2 id="banner-subtitle" class="subtitle is-size-4-mobile is-size-4-desktop">
        Where Your Dreams Are Saved
      </h2>

      <p class="content is-size-6" id="banner-intro">Buckist, in short for bucket list, is a simple application that helps you keeping track of your personal wishes, bucket ideas and much more!</p> 

      {% if not 'email' in session %}
        <a id="signin-btn" class="button is-primary is-inverted is-outlined" href="{{url_for('sign_in')}}">Sign In</a>
        <a id="signup-btn" class="button is-primary" href="{{url_for('sign_up')}}">Sign Up</a>
    {% endif %}
    </div>
  </div>
    
</div>
{% endblock %}


{% block footer %}
  <footer id="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Buckist</strong> by <a href="https://github.com/anhtm">@anhtm</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/anhtm/buckist">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </p>
    </div>
</footer>
{% endblock %}