<span class="item-functions">

 <!-- Edit -->
  <a class="edit-item"> 
    <span class="icon is-small">
      <i class="fa fa-pencil" aria-hidden="true"></i> 
    </span>
  </a> 

  <!-- Change Status -->
  <a class="change-status"> 
    <span class="icon is-small">
      <i class="fa fa-list-alt" aria-hidden="true"></i> 
    </span>
  </a>

  <!-- Delete -->
  <a class="delete-item"> 
    <span class="icon is-small">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </span>
  </a>

</span>