{% extends "base.html" %}
{% block lists %}
    <h2> Update <strong> {{list.name}} </strong>: </h2>
        
        

        
        
  <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <form action="/renamelist/{{list.id}}" method='POST'>
            <input class="input" type='text' name='list_name'  placeholder="Change Your List Name"> 
            <input class="button is-primary" type='submit' name='change_list_name' value='Edit'>
            </form>
        </div>
      
  </div>


{% endblock %}
