{% extends "base.html" %} 
{% block main %}

{% block content %}
<div class="section">
  <h3 class="title">Hi {{ user.first_name }}, Welcome Back!</h3>
</div>

<div class="lists container">
  <!-- Lists -->
  <div class="columns is-multiline">

    {% for list in lists %}
    <div class="column is-one-third">
      <div class="card a-list">

      <!-- List Header -->
        <header class="card-header">
          <p id="{{list.id}}" class="card-header-title">{{list.name}}</p>

          <!-- Dropdown V button -->
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu">
                <a class="card-header-icon">
                  <span class="icon"> <i class="fa fa-angle-down"></i> </span>
                </a>
              </button>
            </div>

            <!-- Dropdown Menu & functions -->
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">

                <a class="dropdown-item edit-list">Edit</a>

                <!-- Delete list -->
                <a id="delete-list" class="delete-list dropdown-item"> Delete </a>

                <!-- Share -->
                <a href="#" class="dropdown-item">Share</a>
              </div>
            </div>
          </div>
        </header>

        <!-- Items -->
        <div class="card-content">

        <!-- Item Content - NOT COMPLETED -->
          <ul>
            {% for item in list.items %}
              {% if not item.is_done %}
              
               <li id="{{item.id}}" class="item">

                <div class="collapsible-header">
                  {{item.content}} | {{ item.is_done}}

                  <!-- Functions -->
                    {% include "item_functions.html" %}

                </div>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
      </div>


          <!-- Completed Item -->
        <div class="card-content">
          <div class="collapsible" data-collapsible="accordion">
            <div class="collapsible-header"
              <h3 class="subtitle completed-items"> Completed </h3>
            </div>
            {% for item in list.items %}
              {% if item.is_done  %}
              <div class="collapsible-body">
                <ul>
                <li id="{{item.id}}" class="item">
                  {{item.content}} | {{ item.is_done}}
                
                <!-- Functions -->
                  {% include "item_functions.html" %}
                </li>
                </ul>
              </div>
              {% endif %}
            {% endfor %}
          </div>

        </div>

        <!-- Add Item -->
        <footer class="card-content">
          <a class="add-item" href="#additemPointer"> Add Item </a>
        </footer>

      </div>
    </div>
    {% endfor %}

  </div>

  <!-- Add List -->
  <a class="add-btn"> <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>

</div>
{% endblock %}
  
  <!-- Delete List Form -->
  <form class="hidden delete-list-form" role="form">
    <input type="submit" value="Delete">
  </form>


  <!-- Delete Item Form -->
  <form class="hidden delete-item-form" role="form">
     <input id="delete-item-btn" type="submit" value="Delete">
  </form>

  
  <!-- Add List Modal -->
  
    {% include "addlist_modal.html" %} 
  
  <!-- Edit List Modal -->

     {% include "editlist_modal.html" %} 

  <!-- Add Item Modal -->
     {% include "add_item.html" %}

  <!-- Edit Item Modal -->
  
    {% include "edit_item.html" %}
  
  <!-- Change Status Modal -->
  
    {% include "changestatus_modal.html" %}
  

{% endblock %}




