{% extends "base.html" %} 
{% block main %}

{% block content %}
<div class="section">
  <h3 class="title">Hi {{ user.first_name }}, Welcome Back!</h3>
</div>

<div class="lists container">

  <div class="columns is-multiline">
    {% for list in lists %}
    <div class="column is-one-third">
      <div class="card a-list">
        <header class="card-header">
          <p id="{{list.id}}" class="card-header-title">{{list.name}}</p>

          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu">
                <a class="card-header-icon">
                  <span class="icon"> <i class="fa fa-angle-down"></i> </span>
                </a>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item edit-list">Edit</a>
                <a id="delete-list" class="dropdown-item">
                  <form id="delete-form" action='/deletelist/{{list.id}}' method='POST'>
                    <button class="button is-white" type='submit' name='delete_list'>Delete</button>
                  </form>
                </a>
                <a href="#" class="dropdown-item">Share</a>
              </div>
            </div>
          </div>
        </header>

        <div class="card-content">
          <div class="content">
            {% for item in list.items %}
            <p id="{{item.id}}" class="item"> 
            <!-- <i class="fa fa-square-o checkbox" aria-hidden="true"></i>  --> {{item.content}} | {{item.is_done}} 
             | <a class="edit-item" id="edit-item{{item.id}}" href="#edititem-box">Edit</a> |
             <a id="delete-item">
               <form id="delete-item-form" role="form" action="/deleteitem/{{item.id}}" method="POST">
                 <button id="delete-item-btn" class="button is-white" type="submit" name='delete-btn'> Delete </button>
               </form>
             </a>
            </p>
            {% endfor %}
          </div>
        </div>

        <footer class="card-footer">
          <a class="card-footer-item add-item"> Add Item </a>
        </footer>

      </div>
    </div>


    {% endfor %}
  </div>

  <a class="add-btn" href="#addlist-modal"> <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
</div>
{% endblock %}

  {% block addlistModal %} 
    {% include "addlist_modal.html" %} 
  {% endblock %}
  
  {% block editlistModal%}
     {% include "editlist_modal.html" %} 
  {% endblock %}


<!-- Add Item Modal -->
  {% block additemModal %}
    {% include "add_item.html" %}
  {% endblock %}


<!-- Edit Item Modal -->

  {% block edititemModal %}
    {% include "edit_item.html" %}
  {% endblock %}


  <!-- <button id="turn-on-edit">Turn on edit form</button> -->


{% endblock %}




